<form class="ui" [formGroup]="form">
  <app-input [form]="env"></app-input>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20px"
    height="20px"
    fill="#000"
    viewBox="0 -960 960 960"
  >
    <path
      d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"
    />
  </svg>

  <app-expr [form]="expr"></app-expr>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20px"
    height="20px"
    fill="#000"
    viewBox="0 -960 960 960"
  >
    <path
      d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"
    />
  </svg>

  <app-output [result]="result$ | async"></app-output>
</form>
