<div [formGroup]="form" class="binary">
  <app-expr [form]="expr"></app-expr>
  <ng-container
    formArrayName="operations"
    *ngFor="let control of operations.controls; let i = index"
  >
    <div [formGroupName]="i" class="operation">
      <div>
        <div class="start"></div>
        <svg
          (click)="remove(i)"
          xmlns="http://www.w3.org/2000/svg"
          width="20px"
          height="20px"
          fill="#000"
          viewBox="0 -960 960 960"
        >
          <path
            d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
          />
        </svg>
        <div class="end"></div>
      </div>
      <div>
        <select formControlName="op">
          <option *ngFor="let operator of operators" [value]="operator.value">
            {{ operator.label }}
          </option>
        </select>
        <app-expr [form]="control | formGroup: 'expr'"></app-expr>
      </div>
    </div>
  </ng-container>

  <svg
    (click)="add()"
    xmlns="http://www.w3.org/2000/svg"
    width="20px"
    height="20px"
    fill="#000"
    viewBox="0 -960 960 960"
  >
    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
  </svg>
</div>
